.nativeInput {
  height: 28px;
  width: 100px;
  padding: 3px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  outline: none;
  background: white;
  font-family: inherit;
}

.nativeInput:focus {
  border-color: #339af0;
  border: 1px;
  box-shadow: 0 0 0 1px #339af0;
}

.nativeInput::placeholder {
  color: #adb5bd;
}